.container{
  width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1{
  text-align: center;
}

input,button{
  padding: 12px;
  font-size: 16px;
}

button{
  background: black;
  color: white;
  border: none;
}
.received-btn{
  background:#28a745;
  color:white;
  border:none;
  padding:8px 15px;
  border-radius:5px;
  cursor:pointer;
}

.received-btn:hover{
  background:#218838;
}

.received-text{
  color:green;
  font-weight:bold;
}
